#compiled files
__pycache__/
*.pyc

.env
# virtual environment
kivy_venv
# PyInstaller / Build outputs
dist/
build/
*.spec
# Local runtime user settings
# below  was created by the storage.py
user_settings.json 